@import "src/styles/color";

.sponsor{
  border: 10px solid $accent-color;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding: 10px;
  box-sizing: padding-box;
}

.sponsor img{
  height: 100%;
  width: 100%;
}

.sponsor__border--blackHorizontal{
  border: 5px solid $second-accent-color;
  position: relative;
  left: 10px;
}

.sponsor__border--blackVertical{
  border: 5px solid $second-accent-color;
  position: relative;
}

.sponsor__dot--white{
  border: 5px solid #ffffff;
  position: relative;
  height: 100%;
  left: -10px;
}


.flex{
  display: flex;
}
