@import "src/styles/color";

.sponsor{
  margin-top: 10px;
  border: 10px solid $accent-color;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding: 10px;
  align-items: center;
}

.sponsor h3{
  font-size: 10px;
}

.sponsor img{
  height: 150px;
  width: 150px;
}

.sponsor__border--blackHorizontal{
  border: 5px solid $second-accent-color;
  position: relative;
  left: 10px;
}

.sponsor__border--blackVertical{
  border: 5px solid $second-accent-color;
  position: relative;
}

.sponsor__dot--white{
  border: 5px solid #ffffff;
  top: 0;
  position: relative;
  height: 10px;
  left: -10px;
}


.flex{
  display: flex;
}
