$background-color: #ffffff;
$accent-color: #d960a7;
$second-accent-color: #000000;
$font-color: #7b7b7b;
$footer-first-color: #330e54;
$footer-second-color: #39386f;
$header-border: #C2C2C2;
$aside-color: #f5f5f5;
