@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap');
@import "color";

html{
  font-family: 'Montserrat', sans-serif;
  color: $font-color;
}

body{
  margin: 0;
}

h3{
  font-size: 22px;
  font-weight: normal;
  margin: 0;
}