@import "../../../styles/color";

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent linear-gradient(180deg, $footer-first-color 0%, $footer-second-color 100%) 0 0 no-repeat padding-box;
  border: 1px solid #707070;
  width: 100%;
  z-index: 3;
  color: white;
}

.footer__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 0 5px 0;
}

.footer__title--logo {
  width: 80px;
  height: 80px;
  margin-right: 15px;
}

.footer__allRightReserved {
  padding: 20px 0 20px 0;
}

.footer__main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.footer__main--column {
  display: flex;
  flex-direction: column;
}

.footer__main--elementDark {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 8px;
  text-decoration: none;
  color: #9F9ABB;
}

.footer__main--contactElement {
  width: 160px;
}

.footer__main--columnContact {
  display: flex;
  flex-direction: row;
}

.footer__main--socialIcon {
  width: 30px;
  margin-right: 10px;
  height: 30px;
}

@media (max-width: 800px) {
  .footer {
    h3 {
      font-size: 16px;
    }

    h4 {
      font-size: 12px;
    }

    .footer__main--socialIcon {
      width: 20px;
      height: 20px;
    }
  }
}

@media (max-width: 600px) {
  .footer__main {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 40px;
  }

  .footer__main--column {
    padding-top: 20px;
  }

  .footer {
    h3 {
      font-size: 18px;
    }

    h4 {
      font-size: 16px;
    }
  }
}

@media (max-width: 350px) {
  .footer {
    h3 {
      font-size: 16px;
    }

    h4 {
      font-size: 14px;
    }
  }

  .footer__title--logo {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 300px) {
  .footer {
    h3 {
      font-size: 14px;
    }

    h4 {
      font-size: 12px;
    }
  }

  .footer__title--logo {
    width: 40px;
    height: 40px;
  }
}

.footer__main--sponsorsRowDirection{
  display: flex;
  flex-direction: row;
}

.footer__main--sponsorsColumn{
  padding-right: 10px;
}


