@import "../../../styles/color";

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent linear-gradient(180deg, $footer-first-color 0%, $footer-second-color 100%) 0 0 no-repeat padding-box;
  border: 1px solid #707070;
  width: 100%;
  color: white;
}

.footer__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 0 5px 0;
}

.footer__title--logo {
  width: 80px;
  height: 80px;
  margin-right: 15px;
}

.footer__allRightReserved {
  padding: 20px 0 20px 0;
}

.footer__main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.footer__main--column {
  display: flex;
  flex-direction: column;
}

.footer__main--elementDark {
  margin-top: 8px;
  text-decoration: none;
  color: #9F9ABB;
  font-size: 16px;
}

.footer__main--contactElement {
  width: 160px;
}

.footer__main--columnContact {
  display: flex;
  flex-direction: row;
}