.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.Artist__labelContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.Artist__labelContainer select {
  margin-left: 30px;
  font-size: 18px;
}

.Artists__Container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1360px;
}

@media (max-width: 1400px) {
  .Artists__Container{
    width: 1020px;
  }
}

@media (max-width: 1040px) {
  .Artists__Container{
    width: 680px;
  }
}

@media (max-width: 700px) {
  .Artists__Container{
    width: 340px;
  }
}

@media (max-width: 360px) {
  .Artists__Container{
    width: 300px;
  }
}

@media (max-width: 400px) {
  .Artist__labelContainer select {
    font-size: 12px;
  }
}
