.Artist__labelContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.Artist__labelContainer select{
  margin-left: 30px;
}

.Artists__Container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}