.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.Artist__labelContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.Artist__labelContainer select {
  margin-left: 30px;
  font-size: 18px;
}

.Artists__Container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1680px;
}

@media (max-width: 1700px) {
  .Artists__Container {
    width: 1340px;
  }
}

@media (max-width: 1400px) {
  .Artists__Container {
    width: 1000px;
  }
}

@media (max-width: 1100px) {
  .Artists__Container {
    width: 660px;
  }
}

@media (max-width: 750px) {
  .Artists__Container {
    width: 340px;
  }
}

@media (max-width: 340px) {
  .Artists__Container {
    width: 280px;
  }
}

@media (max-width: 400px) {
  .Artist__labelContainer select {
    font-size: 12px;
  }
}