@import "src/styles/color";


.Tickets__image--black {
  border: $second-accent-color 10px solid;
  height: 468px;
}

.Tickets__image {
  width: 100%;
  height: 100%;
  border: $accent-color 10px solid;
}

.Tickets__container {
  height: 70%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 900px) {
  .Tickets__label {
    font-size: 20px;
  }

  .Tickets__image--black{
    height: 366px;
  }
}

@media (max-width: 700px) {
  .Tickets__label {
    font-size: 16px;
  }

  .Tickets__image--black{
    height: 270px;
  }

  .Tickets__container {
    padding-bottom: 30px;
  }
}

@media (max-width: 500px) {
  .Tickets__container {
    flex-direction: row;
  }

  .Tickets__image--black{
    height: 186px;
  }

  .Tickets__container {
    height: 90%;
    padding-bottom: 80px;
  }
}

@media (max-width: 350px) {
  .Tickets__image--black{
    height: 156px;
  }
}
