@import "src/styles/color";

$height: 400px;

.artist {
  border: $accent-color solid 10px;
  width: 300px;
  height: $height;
  background-color: white;
  margin: 10px;
}

.artist img {
  width: 300px;
  height: 200px;
}

.artist__nameDescription {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  height: 170px;
  width: 100%;
}

.artist__nameDescription h2 {
  margin-bottom: 10px;
  color: $accent-color;
  font-weight: bold;
  font-size: 20px;
}

.artist__nameDescription h3 {
  font-size: 12px;
}

.artist--blackBorder {
  position: relative;
  height: $height;
  width: 300px;
  top: -99%;
  z-index: -10;
  border: $second-accent-color solid 10px;
}

@media (max-width: 360px) {
  .artist img {
    width: 250px;
    height: 150px;
  }

  .artist {
    width: 250px;
    height: 370px;
  }

  .artist--blackBorder {
    width: 250px;
    top: calc(-100% + 25px);
    height: 370px ;
  }

  .artist__nameDescription{
    width: 230px;
  }

  .artist__nameDescription h2 {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .artist__nameDescription h3{
    font-size: 14px ;
  }
}

.artist__description{
  font-size: 10px;
  width: 96%;
  overflow-y: auto;
}
