@import "../../../styles/color";

.header{
  display: flex;
  flex-direction: row;
  height: 70px;
  justify-content: center;
  align-items: center;
  z-index: 0;
  position: sticky;
  top: 0;
  background-color: white;
}

.header h2{
  color: $font-color;
}

.sidebar{
  display: none;
  z-index: 50;
  height: 100%;
  position: sticky;
  top: 0;
}

.header__link{
  all: unset;
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
  width: 100%;
  align-items: center;
}

.header__logo{
  width: 70px;
  height: 70px;
  margin-right: 20px;
}

.header__openLogo{
  width: 40px;
  height: 40px;
  color: $accent-color;
  margin-right: 20px;
  margin-left: 20px;
}

@media (max-width: 1000px) {
  .sidebar{
  display: block;
  }
}

.header__openLogo--button{
  all: unset;
  cursor: pointer;
}

%aside {
  position: fixed;
  top: 0;
  width: 200px;
  background-color: $aside-color;
  height: 100%;
  display: flex;
  opacity: 1;
  flex-direction: column;
  transition: 0.4s all ease;
  align-items: center;
  z-index: 100;
}

.aside--close{
  right: -200px;
  @extend %aside;
}

.aside--open{
  right: 0;
  @extend %aside;
}

.aside__closeMenu{
  cursor: pointer;
  width: 40px;
  height: 40px;
  color: $accent-color;
  margin-right: 20px;
  margin-left: 20px;
}

.aside__navigationElement{
  padding: 20px;
  color: $font-color
}

.aside__closeMenu--Button{
  cursor: pointer;
  all: unset;
  align-self: end;
  margin-top: 15px;
  color: $accent-color;
  margin-left: 20px;
}

@media (max-width: 360px) {
  .header__openLogo {
    width: 30px;
    height: 30px;
  }
  .aside__closeMenu{
    width: 30px;
    height: 30px;
  }

  .header__logo{
    width: 50px;
    height: 50px;
  }
}


@media (max-width: 330px) {
  .header__openLogo {
    width: 30px;
    height: 30px;
  }
  .aside__closeMenu{
    width: 30px;
    height: 30px;
  }

  .header__logo{
    width: 40px;
    height: 40px;
  }
}
