@import "../../../styles/global";

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 80px;
  align-items: center;
  border: 1px solid $header-border;
  z-index: 0;
  -webkit-box-shadow: 0 2px 2px 0 rgba(194, 194, 194, 1);
  -moz-box-shadow: 0 2px 2px 0 rgba(194, 194, 194, 1);
  box-shadow: 0 2px 2px 0 rgba(194, 194, 194, 1);
}

.header__title {
  all: unset;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.header__title--logo {
  margin-right: 15px;
  z-index: -1;
  width: 80px;
  height: 80px;
}

.header__navigationPanel {
  display: flex;
  flex-direction: row;
}

@media (max-width: 900px) {
  .header {
    display: none;
  }
}