@import "../../styles/color";

.SponsorSlider{
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  position: relative;
  padding-top: 20px;
  height: 120px;
}

@media (max-width: 900px) {
  .SponsorSlider{
    height: 95px;
  }
}

@media (max-width: 700px) {
  .SponsorSlider{
    height: 65px;
  }
}

@media (max-width: 500px) {
  .SponsorSlider{
    height: 55px;
  }
}

@media (max-width: 350px) {
  .SponsorSlider{
    height: 45px;
  }
}

.SponsorSlider a{
  transition: all 0.5s ease;
  position: absolute;
  width: 14.3%;
}

.SponsorSlider img{
  width: 100%;
  height: auto;
}
