@import "src/styles/color";

$height: 300px;

.creator {
  border: $accent-color solid 5px;
  width: 300px;
  height: $height;
  background-color: white;
  margin: 10px;
}

.creator img {
  width: 300px;
  height: 200px;
}

.creator__nameDescription {
  padding: 10px;
  display: flex;
  height: 100px;
  flex-direction: column;
  width: 100%;
}

.creator__nameDescription h2 {
  margin-bottom: 10px;
  color: $accent-color;
  font-weight: bold;
  font-size: 20px;
}

.creator__nameDescription h3 {
  font-size: 16px;
}

.creator--blackBorder {
  position: relative;
  height: $height;
  width: 300px;
  top: -108.5%;
  z-index: -10;
  border: $second-accent-color solid 5px;
}

@media (max-width: 340px) {
  .creator img {
    width: 250px;
    height: 150px;
  }

  .creator {
    width: 250px;
    height: 250px;
  }

  .creator--blackBorder {
    width: 250px;
    top: -110%;
    height: 250px ;
  }

  .creator__nameDescription{
    width: 250px;
  }

  .creator__nameDescription h2 {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .creator__nameDescription h3{
    font-size: 14px ;
  }
}
